<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>MuSyC Terms and Conditions</title>
  </head>
    <body style="padding:1em">
    <h1>Terms and Conditions</h1>
    {% include "terms.html" %}
    <br>
    <button class="btn btn-primary" id="close-btn" style="margin-top:1em">Close</button>
    <script>
        var btn = document.getElementById('close-btn');
        btn.onclick = function() {
          var win = window.self;
          win.opener = window.self;
          win.close();
        };
    </script>
    </body>
</html>