{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}<br>My account{% endblock %}

{% block content %}
<br>
<div class="card-box shadow-sm">
    Logged in as <strong>{{ request.user.email }}</strong>
        <br><br>

    <a href="{% url 'account_change_password' %}" class="btn btn-primary btn-block">Change Password</a>
    <a href="{% url 'account_email' %}" class="btn btn-primary btn-block">Manage Email</a>

    <form method="post" action="{% url 'account_logout' %}" style="margin:8px 0">
        {% csrf_token %}
        <input type="submit" value="Logout" class="btn btn-primary btn-block">
    </form>
    <br>
        <a href="{% url 'projects' %}" class="btn btn-secondary btn-block">Back to Home</a>
</div>
{% endblock %}
