{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
<br>
<h1>Signup</h1>
<p class="lead">Fill in the form below. Already have an account? Then please
  <a href="{{ login_url }}">log in</a>.</p>
{% endblock %}

{% block content %}
<div class="card-box shadow-sm">
  {% crispy form %}
</div>
{% endblock %}

{% block tailscript %}
<script>
let params = `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,
width=600,height=300,left=100,top=100`;

$('#terms-link').click(function(e){
    e.preventDefault();
    open('{% url 'terms' %}?popup', 'Terms and Conditions', params);
});
</script>
{% endblock %}
